
TP1/Entrega/.DS_Store
TP1/.ipynb_checkpoints/TP1_JM-checkpoint.ipynb
TP1/Entrega/.ipynb_checkpoints/Informe_TP1-checkpoint.pdf
TP1/Entrega/.ipynb_checkpoints/TP1_Entregaipynb-checkpoint
TP1/.ipynb_checkpoints/TP1_JM-checkpoint.ipynb
TP1/.DS_Store
TP1/.ipynb_checkpoints/TP1_JM-checkpoint.ipynb
.DS_Store
TP1/.ipynb_checkpoints/TP1_JM-checkpoint.ipynb
